<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head/_head") %>

  <body>

    <%- include("../partials/navbar/_navbar") %>


      <!-- This is the form for new reviews-->


      <div class="ui left floated segment">
        <section class="form">
          <div class="ui attached message">
            <div class="content">
              <div class="ui huge header">Rate Your Favorite Recipe!</div>
            </div>
            <p>Fill out the field below to submit your review!</p>
          </div>
          <form action="/reviews" method="POST" class="ui large form attached fluid segment">
            <div class="field">
              <label for="label">Rating </label>
              <input 
              type="number" 
              name="rating" 
              min="0" 
              max="5" 
              placeholder="0-5">
            </div>
            <div class="field">
              <label>Short Text</label>
              <textarea 
              rows="3" 
              name="content"></textarea>
            </div> 
            
                <label for="label"> Select A Recipe </label>
                  <select name="recipe" >
                    <% recipes.forEach(recipe => { %>
                      <option value="<%= recipe.id %>">
                        <%= recipe.title %>
                      </option>
                      <% }) %>
                    </select>


            <button class="ui orange button">Save</button>
            <a class="ui black button" href="../recipes/">Discard</a>
          </form>
        </section>
      </div>

      <br><br>
      </div>
      <!-- This is where the reviews will go  -->

      <br><br>

      <div class="ui three column grid">
        <% reviews.forEach(review=> { %>
          <div class="column">
            <div class="ui raised segment comment_show">
              <a class="avatar">
                <img class="ui small image centered" src="<%= review.user.avatar %> ">
              </a>
              <div class="ui center aligned container ">
                <a class="User">
                  <%= review.user.username %>
                </a>
                <div class="metadata">
                  <div class="date">
                    <%= new Date(review.createdAt).toLocaleString() %>
                  </div>
                  <div class="rating">
                    <i class="star icon"></i>
                    <%= review.rating %>
                  </div>
                </div>
                <div class="text">
                  <%= review.content %>
                </div>
                <a href="/recipes/<%= review.recipe._id %>">
                  <%= review.recipe.title %>
                </a>
                <form action="/reviews/<%= review.id %>?_method=DELETE" method="POST">
                  <button class="ui button" style="background-color: #FCBF49;">Delete</button>
                </form>
              </div>
            </div>
          </div>
            <% }) %>
        </div>
  </body>
</html>