<html lang="en">
<%- include("../partials/head/_head") %>

  <body>
    <%- include("../partials/navbar/_navbar") %>

      <div class="ui grid">
        <div class="eight wide centered column">
          <section class="form">
            <div class="ui attached message">
              <div class="content">
                <div class="ui huge header">New Recipe</div>
              </div>
              <p>Fill out the field below to submit your recipe!</p>
            </div><br>
            <div class="ui button" id="editIngredients">Add more ingredients </div>
            <div class="ui button" id="editInstructions">Add more instructions</div><br>

            <form class="ui form " action="/recipes" method="post">
              <div class="field">
                <label for="title">Recipe Title </label>
                <input type="text" name="title">
              </div>

              <div class="field">
                <label for="image">Image</label>
                <input type="text" name="image">
              </div>

              <div class="field">
                <label for="category">Category</label>
                <input type="text" name="category">
              </div>

              <label for="ingredients">Ingredients</label>
              <% recipe.ingredients.forEach(ingredient=> { %>
                <div class="field">
                  <input type="text" name="ingredients" value="<%= ingredient %> ">
                </div>
                <% }) %>
                  <div class="editIngredients"></div>

                  <label for="instructions">Instructions</label>
                  <% recipe.instructions.forEach(instruction=> { %>
                    <div class="field">
                      <input type="text" name="instructions" value="<%= instruction %> ">
                    </div>
                    <% }) %>
                      <div class="editInstructions"></div> <br>

                      <div class="content">
                        <button class="positive ui button ">Edit</button>
                        <a href="/recipes/<%= recipe.id %> " class="negative ui button">
                          Cancel
                        </a>
                      </div>
          </section>
        </div>
      </div>
  </body>

</html>