<html lang="en">

<%- include("../partials/head/_head") %>


  <body>
    <%- include("../partials/navbar/_navbar") %>

      <h1 id="spotlight__header">Recipe Spotlight</h1>
      <div class="spotlight ui container center aligned">
        <div class="ui two column stackable grid ">
          <% if (!isEmpty) { %>
            <% function randomRecipe () { %>
              <% const rand=Math.floor(Math.random()*recipes.length) %>
                <% const randRecipe=recipes[rand] %>
                  <div class="column">
                    <a href="/recipes/<%= randRecipe.id %> " class="spotlight__title">
                      <%= randRecipe.title %>
                    </a>
                  </div>
                  <div class="column">
                    <a href="/recipes/<%= randRecipe.id %> " class="ui large image">
                      <img src="<%= randRecipe.image %> " class="spotlight__image">
                    </a>
                  </div>
                  <% } %>
                    <% randomRecipe(); %>
                      <% } %>
        </div>
      </div>



      <section class="allRecipes">
        <div class="ui inverted secondary pointing menu bottom__nav">
          <a href="/recipes" class="item">
            All Recipes
          </a>
          <a href="/recipes/filter/breakfast" class="item">
            Breakfast
          </a>

          <a href="/recipes/filter/lunch" class="item">
            Lunch
          </a>
          <a href="/recipes/filter/dinner" class="item">
            Dinner
          </a>
          <a href="/recipes/filter/dessert" class="item">
            Dessert
          </a>
        </div>


        <div class="ui grid bottom__show">
          <% if (!isEmpty) { %>
            <div class="ui four column stackable grid ">
              <% for( let index=0; index < recipes.length; index++ ) { %>
                <% const recipe=recipes[index] %>
                  <div class="ui column segment border_image">
                    <div class="ui blue ribbon label">
                      <i class="spoon icon"></i>
                      <%= recipe.category %>
                    </div>
                    <a href="/recipes/<%= recipe.id %> " class="">
                      <img class="ui large rounded image" id="recipe_image" src="<%= recipe.image %>"
                        alt="image placeholder">
                    </a>
                  </div>
                  <% } %>
                    <% } else{ %>
                      <img
                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f7/Generic_error_message.png/220px-Generic_error_message.png"
                        alt="">
                      <% } %>
            </div>
        </div>
      </section>


  </body>

</html>