<html lang="en">
<%- include("../partials/head/_head") %>

<body>
  <%- include("../partials/navbar/_navbar") %>

  <section>
    <div>
      <h1> Recipe Show Page</h1>
    </div>
  </section>

  <div class="ui container recipe">
    <div class="content">
      <div class="header recipe_title">
        <%= recipe.title %> 
      </div>
    </div>
    
    <figure class="content">
      <img src="<%= recipe.image%> " alt="recipe image" class="ui large rounded image">
    </figure>
    
    <div class="ui bulleted list">
      <% recipe.ingredients.forEach((ingredient) => { %>
        <div class="item"><%= ingredient %> </div>
      <% }) %>
    </div>

    <div class="ui ordered list">
      <% recipe.instructions.forEach(instruction =>{ %>
        <div class="item"><%= instruction %></div>
      <% }) %> 
    </div>
    
    <div class="content">  
      <a href="/recipes/<%= recipe.id %>/edit " class="ui button">Edit</a>
      
      <form action="/recipes/<%= recipe.id %>?_method=DELETE" method="POST">
        <a href=""class="ui button">Delete</a>
      </form>
    </div>
  </div>



    <section>
      <div>
        <h1>Comment section</h1>
      </div>
    </section>

    <% reviews.forEach(review => { %>
      <div class="ui veritcally divided gird">
        <div class="two column row">
          <div class="three wide column">
            <img class="ui circular mini image" src="https://picsum.photos/200" alt="avatar">
          </div>

          <div class="column">
            <div class="ui comments">
              <div class="comment">
                <div class="content">
                  <a href="" class="author user"> Allen Gonzales</a>
                  <div class="metadata">
                    <div class="date"> <%= new Date(review.createdAt).toLocaleString() %> </div>
                    <div class="rating">
                      <i class="star icon"></i>
                      <%= review.rating %>
                    </div>
                  </div>
                  <div class="text">
                    <%= review.content %> 
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ui hidden divider"></div>
      <% }) %> 

</body>
</html>